body {
    background-image: url("background\(1\).png");
    background-position: center;
    background-size: cover;
}

.heading {
    font-size: 40px;
    width: 100%;
    margin: 0px;
    background-color: burlywood;
    font-family: cursive;
    padding: 10px;
}

#status {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}